# App Configuration
NODE_ENV=development        # development, test, production, local
APP_NAME="Presentation Dashboard App"
APP_URL="http://localhost"
APP_PORT=5000

# DB Configuration
DB_CONNECTION="postgresql"
DB_HOST="db"
DB_PORT=5432
DB_DATABASE="test"
DB_USER="test_user"
DB_PASSWORD="test_password"
DB_SCHEMA="public"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="${DB_CONNECTION}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=${DB_SCHEMA}"